<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:ndz="http://typo3.org/ns/IndizDigitalGmbh/SteppingStoneSitePackage/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:for each="{data.categories}" as="category" iteration="catIt">
    <div class="relative grid grid-cols-12 gap-1 js-stones-cat">
        <div class="text-blue col-start-1 col-end-13 mb-10 space-y-3{f:if(condition: catIt.isOdd, then: ' md:col-start-7 md:order-2', else: ' md:col-end-7')} md:mb-28 md:space-y-5 xl:space-y-8 xl:mb-40">
            <h2 class="ndz-headline-large text-orange">{category.title}</h2>
            <f:format.html>{category.bodytext}</f:format.html>
        </div>
        <f:for each="{category.steps}" as="step" iteration="stepIt">
            <div class="-mx-4 md:-mx-8 lg:-mx-16 flex flex-col col-start-{step.from} col-end-{step.to} md:col-start-{step.frommd} md:col-end-{step.tomd}{f:if(condition: '{catIt.isOdd} && {stepIt.isFirst}', then: ' md:order-1')}{f:if(condition: '{catIt.isOdd} && !{stepIt.isFirst}', then: ' md:order-{ndz:mathAdd(a: stepIt.cycle, b: 1)}')}{f:if(condition: step.offset, then: ' md:-mt-[var(--mt)]')} js-stone" style="--mt:{step.offset}%;">
                <div class="ndz-flipbox">
                    <input type="checkbox" id="ndz-flipbox-flipme-{catIt.cycle}-{stepIt.cycle}" class="ndz-flipbox-check">
                    <label class="text-white ndz-flipbox-inner" for="ndz-flipbox-flipme-{catIt.cycle}-{stepIt.cycle}">
                        <div class="ndz-flipbox-front p-[12%] flex flex-col justify-center text-xl lg:text-3xl xl:text-4.5xl">
                            <div{f:if(condition: step.offsettext, then: ' style=\'margin-top:{step.offsettext}%;\'')}>
                                <h3 class="ndz-headline-small text-white hyphens-auto"><f:format.nl2br>{step.title}</f:format.nl2br></h3>
                            </div>
                        </div>
                        <div class="ndz-flipbox-back p-[12%] flex flex-col justify-center text-xs lg:text-sm xl:text-xl">
                            <div{f:if(condition: step.offsettext, then: ' style=\'margin-top:{step.offsettext}%;\'')}>
                                <p>{step.bodytext}</p>
                                <p class="mt-1 lg:mt-3">
                                    <f:link.typolink class="ndz-btn ndz-btn-circle bg-white text-blue xl:pointer-events-auto" parameter="{step.link}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.9 14" class="fill-current max-h-full">
                                            <path d="M.29.29C.68-.1,1.32-.1,1.71.29l5.82,5.82c.49.49.49,1.28,0,1.77L1.71,13.71c-.39.39-1.02.39-1.41,0-.39-.39-.39-1.02,0-1.41l5.29-5.29L.29,1.71C-.1,1.32-.1.68.29.29Z"/>
                                        </svg>
                                    </f:link.typolink>
                                </p>
                            </div>
                            <f:link.typolink class="hidden absolute inset-0 pointer-events-auto xl:block" parameter="{step.link}">
                                <span class="sr-only">Link</span>
                            </f:link.typolink>
                        </div>
                        <f:for each="{step.icon}" as="icon">
                            <ndz:inlineSvg class="fill-blue" path="{icon.originalFile}" />
                        </f:for>
                    </label>
                </div>
            </div>
        </f:for>
    </div>
</f:for>
</html>