<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:ndz="http://typo3.org/ns/IndizDigitalGmbh/SteppingStoneSitePackage/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:for each="{data.categories}" as="category" iteration="catIt">
    <div class="relative grid grid-cols-12 gap-1 js-stones-cat">
        <div class="text-blue col-start-1 col-end-13 mb-10 space-y-3{f:if(condition: catIt.isOdd, then: ' md:col-start-7 md:order-2', else: ' md:col-end-7')} md:mb-28 md:space-y-5 xl:space-y-8 xl:mb-40">
            <h2 class="ndz-headline-large text-orange">{category.title}</h2>
            <f:format.html>{category.bodytext}</f:format.html>
        </div>
        <f:for each="{category.steps}" as="step" iteration="stepIt">
            <div class="-mx-4 md:-mx-8 lg:-mx-16 flex flex-col col-start-{step.from} col-end-{step.to} md:col-start-{step.frommd} md:col-end-{step.tomd}{f:if(condition: '{catIt.isOdd} && {stepIt.isFirst}', then: ' md:order-1')}{f:if(condition: '{catIt.isOdd} && !{stepIt.isFirst}', then: ' md:order-{ndz:mathAdd(a: stepIt.cycle, b: 1)}')}{f:if(condition: step.offset, then: ' md:-mt-[var(--mt)]')} js-stone" style="--mt:{step.offset}%;">
                <div class="ndz-flipbox">
                    <input type="checkbox" id="ndz-flipbox-flipme-{catIt.cycle}-{stepIt.cycle}" class="ndz-flipbox-check">
                    <label class="text-white ndz-flipbox-inner" for="ndz-flipbox-flipme-{catIt.cycle}-{stepIt.cycle}">
                        <div class="ndz-flipbox-front">
                            <div{f:if(condition: step.offsettext, then: ' style=\'margin-top:{step.offsettext}%;\'')}>
                                <h3 class="ndz-headline-small text-white hyphens-auto"><f:format.nl2br>{step.title}</f:format.nl2br></h3>
                            </div>
                        </div>
                        <div class="ndz-flipbox-back">
                            <div{f:if(condition: step.offsettext, then: ' style=\'margin-top:{step.offsettext}%;\'')}>
                                <p>{step.bodytext}</p>
                                <p class="mt-1 lg:mt-3">
                                    <f:link.typolink class="ndz-btn ndz-btn-circle bg-white text-blue size-8 lg:size-10 xl:pointer-events-auto" parameter="{step.link}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current">
                                            <path d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.5303 11.1161C16.0185 11.6043 16.0185 12.3957 15.5303 12.8839L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289Z" />
                                        </svg>
                                    </f:link.typolink>
                                </p>
                            </div>
                            <f:link.typolink class="hidden absolute inset-0 pointer-events-auto xl:block" parameter="{step.link}">
                                <span class="sr-only">Link</span>
                            </f:link.typolink>
                        </div>
                        <f:for each="{step.icon}" as="icon">
                            <ndz:inlineSvg class="fill-blue" path="{icon.originalFile}" />
                        </f:for>
                    </label>
                </div>
            </div>
        </f:for>
    </div>
</f:for>
</html>