<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:ndz="http://typo3.org/ns/IndizDigitalGmbh/SteppingStoneSitePackage/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="Default" />
<f:section name="Main">
    <div class="grid grid-cols-3 gap-5 space-y-5 xl:space-y-10">
        <div class="col-span-3 md:col-span-1">
            <f:if condition="{data.bodytext}">
                <div class="ndz-rte">
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
            </f:if>
            <f:if condition="{data.link.url}">
                <p class="mt-10">
                    <f:link.typolink class="ndz-btn" parameter="{data.link}">
                        {f:if(condition: data.link.title, then: data.link.title, else: 'Mehr erfahren')}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17.14" class="fill-current w-4">
                            <path d="M18.72,10.11H1.54c-.44,0-.8-.15-1.1-.44s-.44-.66-.44-1.1.15-.8.44-1.1c.3-.3.66-.44,1.1-.44h17.18l-4.39-4.39c-.31-.31-.46-.67-.44-1.08s.16-.77.44-1.08C14.64.17,15,.01,15.43,0c.42-.01.79.13,1.1.44l7.05,7.05c.15.15.26.32.33.5s.1.37.1.58-.03.4-.1.58-.17.35-.33.5l-7.05,7.05c-.31.31-.67.46-1.1.44s-.79-.17-1.1-.48c-.28-.31-.43-.67-.44-1.08s.13-.77.44-1.08l4.39-4.39Z"/>
                        </svg>
                    </f:link.typolink>
                </p>
            </f:if>
        </div>
        <div class="col-span-3 md:col-span-2">
            <f:for each="{data.image}" as="image">
                <f:image
                    image="{image}"
                    width="1200c"
                    srcset="
                        {f:uri.image(image:image, width:'400c')} 400w,
                        {f:uri.image(image:image, width:'600c')} 600w,
                        {f:uri.image(image:image, width:'840c')} 840w,
                        {f:uri.image(image:image, width:'1700c')} 1700w
                    "
                    sizes="(max-width: 639px) 100vw, (max-width: 1023px) 44vw, (max-width: 1439px) 29vw, 414px"
                    loading="lazy"
                    alt="{image.alternative}"
                />
            </f:for>
        </div>
    </div>
</f:section>
</html>